header{
    width: 70%;
    margin-top: 20px;
    background-color: rgba(153, 97, 206, 0.247);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    position: relative;
    left: 15%;
    height: 107px;
}

header h1{
 height: 50px;
 left: 10%;
 position: absolute;
 text-align: center;
 top: calc(50% - 25px);   
}

header span{
    color: rgb(170, 130, 207);    
    display: block;
    right: 10px;
    bottom: 10px;
    position: absolute;
}

header > embed{
    position: absolute;
    left: 2%;
    margin-top: 13px;
}

@media (max-width: 1620px) {
    header {
        width: 80%;
        left: 10%;
    }
}

@media (max-width: 1300px) {
    header {
        width: 100%;
        left: 0;
    }
    header h1{
        left: 15%;
    }

}

@media (max-width: 850px) {


    header h1 {
        left: 20%;
    }

}