.user-search {
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;    
    background: #2424242c;
    backdrop-filter: blur(10px);
    width: 60%;
    border-radius: 10px;
    position: relative;
    left: 20%;
}

.user-search>input {
    border: none;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 10px;
    width: 50%;
    color: rgb(230, 230, 230);
    margin: 15px 0 15px 0;
    font-size: 20px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: transparent;
    background-image: url("/assets/icons/search.svg");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: 100% 5px;
}

.user-search>input::placeholder {
    color: rgb(230, 230, 230);
}