.repositories-info,
.no-repos,embed {
    width: 69%;    
    position: absolute;
    left: 31%;    
}

.no-repos {
    background: rgba(139, 65, 65, 0.555);    
    backdrop-filter: blur(2.5px);
    box-shadow: 0 0 20px rgb(199, 97, 97);
    color: rgb(214, 131, 131);    
    font-size: 20px;
    border: none;
    animation: shadow-pulse 1.5s infinite alternate;
}

.animate {
    animation: fade-in 2s ease forwards;
}

@media (max-width: 900px) {

    .repositories-info,
        .no-repos  {
            width: 100%;
            left: 0;
            margin-top: 30px;
        
    }


}

@media (max-width: 500px) {
    


}