<div class="repository">
    <a target="_blank" href="{{repo().getUrl()}}">
        <h3>{{repo().getName()}}</h3>
        <p>{{repo().getFullName()}}</p>          
    </a>
    @if (repo().getFork()) {
        <a target="_blank" href="{{repo().getForkUrl()}}" >
            <p>Fork</p>
        </a>
    }
    <ul class="repository__dates">
        <li>Repo created at: <span> {{repo().getCreatedAt() | date: 'dd/MM/yyyy - h:mm:ss a'}}</span></li>
        <li>Repo updated at: <span>{{repo().getUpdatedAt() | date: 'dd/MM/yyyy - h:mm:ss a'}}</span></li>
        <li>Last push:  <span>{{repo().getPushedAt() | date: 'dd/MM/yyyy - h:mm:ss a'}}</span></li>
    </ul>

    <!-- I mean, all the repos should have at least one language I think, but, just in case...  -->
    @if(repo().getRepositoryLanguages().length > 0){
        <div class="repository__languages">
            <div class="repository__languages-languages-graphic"></div>
            @for (item of repo().getRepositoryLanguages(); track $index) {

                <div class="repository__languages-color-indicator"></div>
                <p>{{ item.getName()}}: <span class="percentage">{{ item.getUsePercentage()  | number:'1.1-1'}}%</span></p>
            }
        </div>
    }
                
</div>
