.repository {    
    margin: 25px 0 25px 0;
    width: 100%;    
    background: #0a0a0ad0;        
    border-radius: 10px;    
    padding: 15px;
    color: #e6e6e6;            
    word-spacing: 5px;    
}

.repository a {
    color: #e6e6e6;
}


.percentage{
    color: rgb(216, 216, 216);
    font-weight: bold;
}


.repository__languages{
    width: 80%;
    position: relative;
    margin-top: 10px;
}

.repository__languages p {
    display: inline-block;
    word-spacing: 3px;
    color: #c0c0c0;
    padding: 6px;
    margin: 20px 10px 5px 0px;
}

.repository__languages-color-indicator {
    width: 12px;
    height: 12px;    
    border-radius: 40px;
    border: 1px solid white;
}

.graphic-item:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.graphic-item{
    height: 15px;
}

.graphic-item:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}


/* Main container where the different language percentages will be displayed */
.repository__languages-languages-graphic {
    width: 100%;         
    height: 15px;
    border-radius: 20px;    
}

div{
    display: inline-block;  
    
    
}

.repository__dates {
    text-align: left;
    margin: 15px 0 15px 0;
    padding: 10px;   
    width: 80%;    
}


.repository__dates > div{
    position: relative;
}

.repository__dates p{
    width: 45%;
}

.repository__dates div{
    width: 100%;
    /* background: ivory; */
    
}
.repository__dates div > span{
    position: absolute;
    bottom: 0px;    
    
    right: 0px;
    
    
}