.repository{    
    position: relative;    
    margin: 25px 0 25px 0;
    width: 95%;
    left: 2.5%;
    background: #e7e7e7bd;    
    border-radius: 10px;
    padding: 10px;   
    color: #6b6b6b; 
    word-spacing: 5px;   
    border: 2px solid rgb(100, 98, 139);
}

.repository a{
    color: #6b6b6b;
    
}

.repository__dates{
    text-align: left;
    margin: 15px 0 15px 0;
}

.repository__dates span{
    color: #6e6e6e;
    font-weight: bold;
}