.user-info {
    width: 70%;
    height: 800px;    
    position: absolute;
    border-radius: 10px;
    margin-left: 15%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

@media (max-width: 1620px) {
    .user-info{
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 1300px) {
    .user-info {
        width: 100%;
        margin-left: 0;        
    }

}
