.user-info {
    width: 70%;
    height: 800px;    
    position: relative;
    border-radius: 10px;
    margin-left: 15%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}