.profile-info {
    width: 30%;
    position: absolute;
    background: #2424242c;
    backdrop-filter: blur(2.5px);
    padding: 10px;
    color: #E5E5E3;    
    border-radius: 10px;       
}

.animation{
    animation: fade-in 2s ease forwards;
}


.profile-info a {
    color: #E5E5E3;
}

.fallback-content {
    width: 100%;
    background: rgba(139, 65, 65, 0.555);
    
    backdrop-filter: blur(2.5px);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px rgb(199, 97, 97);
    color: rgb(214, 131, 131);    
    animation: shadow-pulse 1.5s infinite alternate;
}


p {
    margin: 8px 0 8px 0;
}

.profile-info__avatar {
    width: 200px;
    margin: 10px 0 10px 0;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(153, 51, 236);
}

.profile-info__username {
    font-size: 22px;
    font-weight: bold;
}

.profile-info__name {
    color: #b9b9b8;
}

.profile-info__follow-group {

    width: 50%;
    display: inline-block;


}

@media (max-width: 900px) {

    .profile-info {
        width: 100%;        
        position: relative;
    }


}

