* {
    outline: none;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
}

a {
    text-decoration: none;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes shadow-pulse {
    from {
        box-shadow: 0 0 20px rgb(199, 97, 97);
    }

    to {
        box-shadow: 0 0 20px rgb(116, 62, 62);
    }
}

body {
    background-image: url("./assets/backgrounds/laptop-bg.jpg");
    background-size: 100vw 1280px;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
    border: none;
}

@font-face {
    font-family: 'poppins';
    src: url('./fonts/poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}